.div-post{
    flex-direction: row;
    display:flex;
    justify-content: center;
}
.complex_post_form{
    margin-top:20px;
    overflow: scroll;
    border-radius: 10px;
    border: 4px black double;
    padding:20px 10px 10px 10px;
    display:flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
}

.complex_post_form .post_title{
    font-size:20px;
    font-weight:bold;
    margin:-20px -10px 20px -10px;
    padding:10px 0px 10px 25px;
    color:white;
    background-color: blue;
    border-radius: 7px 7px 0px 0px;
    animation-name: colours;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes colours {
    0%   {background-color: blue;}
    25%  {background-color: rgb(62, 76, 202);}
    50%  {background-color: rgb(68, 121, 219);}
    100% {background-color: rgb(71, 140, 231);}
}

.complex_post_form .form_element{
     margin-bottom:8px;
     font-size: 20px;
     border-radius:10px;
     padding:5px 10px 5px 10px;
}

.complex_post_form #content {
    min-height: 150px;
}

